<!doctype html>
<html ng-app="demo">

<head>
    <meta charset="utf-8">
    <title>ClickTale - EA Json Formatter</title>
      <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">

    <!-- COME HERE JQ! -->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  
    <!-- END OF JQ! -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:500,300' rel='stylesheet' type='text/css'>
</div>
<link rel="stylesheet" href="style.css">
</head>

<body ng-controller="MainCtrl">
    <div class="logo">
        <img src="https://www.clicktale.com/sites/default/files/field/image/Logo_Purple_Trans.png">
        <img src="https://connect.liveperson.com/servlet/JiveServlet/showImage/38-1526-3978/angularjs-large.png" style="float:right;">
    </div>
    <div class="container" >
        <div class="header">
            <h1 class="text-muted" style="text-align:center;">&lt;Element Addressing JSON Formatter&gt;</h1>
            <div ng-show="mainContent">
               <input type="checkbox" ng-model="colorCheck" /> Toggle JSON color
               &nbsp;
               <button ng-click="mainContentChanger()"> what is this?</button>
               <h6> Input: </h6>
               <textarea ng-model="textarea" placeholder="{{ taPlaceHolder }}"></textarea>

               <br />
               <h6> results: </h6>
               <div class="{{ viewType }}">
                <json-formatter json="complex" open="1" class="{{ viewClass }}"></json-formatter>
            </div>
        </div>
        <div ng-show="!mainContent">
         <button ng-click="mainContentChanger()"> back</button>
         <hr />
         <h4> This is a custom made JSON viewer for us to use. <br />
            It will show a <b><i>tooltip</i></b> per number and will reveal what element the number refers to in the Element Adressing system <br />
            Pretty simple.
        </h4>
        <hr />
        <h3> Currently recognized elements : </h3>
        
        <p ng-repeat="(k,v) in elementAdressings | filter : query">
            {{ k }} - {{ v }} <br />
        </p>
    </div>
</div>
</div>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-sanitize.js"></script>
      <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="model.js"></script>
<script>
    $(document).ready(function() {
            //$(document).tooltip();
            $(document).tooltip({
                position: {
                    my: "left+15 center",
                    at: "right center"
                }
            });

        });
</script>
</body>

</html>
